.main-nav {
    @include font(1.4rem, 1.9rem, 600, $link-color);

    &__list {
        @include flex (center, wrap, center, row, 2rem, 1rem);
    }

    &__item {
        text-transform: uppercase;

        cursor: pointer;

        &:hover {
            color: $brown;
        }
    
        &:active {
            opacity: 0.5;
        }
    
        &_font-inter {
            font-family: 'Inter', 'Open-sans', sans-serif;
            line-height: 1.7rem;
        }
    }

    @include screen-till($tablet) {
        display: none;
    }

    @include screen-from($tablet) {
        display: block;
    }
}