$coral: #FC5550;
$brown: #91420d;
$white: #FFFFFF;
$blue: #0d7791;
$grey: rgba(35, 35, 35, 0.8);
$dark-grey: rgba(35, 35, 35, 1);
$black: #000000;
$light-grey: #C4C4C4;
$burger-lines-bg: #232323;
$link-color: #232323;
$copyright-bg: #FC5550;
$text-on-dark-bg: #FFFFFF;
$circle-bg: red;
$footer-bg: #E8E8E8;